.title-bar{
    font-size: 0.9rem;
    padding: 1rem 1.25rem;
    background: #011f4b;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-link a{
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    color: white;
    font-weight: 500;
    background-color: #005073;
    padding: 0.5rem 0.75rem;
    margin-right: 1rem;
    border-radius: 3px;
    transition: 0.1s all ease-in-out;
}

.auth-link a:hover{
    background: #003b55
}

.navbar{   
    background-color: #005073;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.toggle{
    display: none;
}

.nav-dw{
    border: none;
}

.nav-link a,.dw-toggle,.sub-dw-toggle{
    color: white;
    font-weight: 500;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.nav-link, .dw-toggle{
    text-align: center;
    padding: 1rem 1.5rem;
    border: none;
    transition: 0.1s all ease-in-out;
    font-size: 1rem;
}

.sub-dw-toggle{
    text-align: center;
    border: none;
    transition: 0.1s all ease-in-out;
}

.nav-link:hover,.nav-dw:hover{
    background-color: rgba(0,0,0,0.2);
}

.logo .logo-text{
    font-size: 1.75rem;
}

.navbar .nav{
    display: flex;
}

.nav-dw:hover .dw-content,.sub-nav-dw:hover .sub-dw-content{
    transform: scaleY(1);
}

.sub-dw{
    position: relative;
    overflow: visible;
}

.sub-dw:hover .sub-dw-content{
    transform: scaleY(1);
}

.sub-dw-content{
    z-index:100;
    position: absolute;
    right: -120px;
    background-color: #005073;
    display: block;
    border: none;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    width: max-content;
    transform: scaleY(0);  
    transform-origin: top;
    transition: all 0.2s ease-in-out;
    overflow: visible;
}

.dw-content{
    z-index: 99;
    margin-top: 1rem;
    position: absolute;
    left: 0;
    display: block;
    background-color: #005073;
    border: none;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    width: max-content;
    transform: scaleY(0);  
    transform-origin: top;
    transition: all 0.2s ease-in-out;
    overflow: visible;
}

.dw-content li a{
    text-decoration: none;
    color: white;
}

.dw-content li{
    padding: 0.75rem 1rem;
    text-align: left;
}

.dw-content li:hover{
    background-color: rgba(0,0,0,0.2);
}

.nav-dw{
    position: relative;
}

.dw-spl{
    background-color: #3742da;
    margin-left: 1rem;
}

.dw-spl .dw-toggle{
    color: white;
}

.dw-spl:hover{
    background-color: #242ebb;
}

.dw-content hr{
    width: 70%;
    margin: auto;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

@media only screen and (max-width:768px){
    .dw-spl{
        margin-left: 0rem;
        margin-top: 1rem;
    }
    
    .dw-content hr{
        display: none;
    }
    
    .nav-link a,.dw-toggle{
        color: white;
    }
    .showing{
        transform: translateX(0%);
    }
    .hidden{
        transform: translateX(100%);
    }
    header.navbar{  
        position: fixed;
        top: 0;   
        background-color: none;
        display: block;
        width: 100vw;
        z-index: 999;
        transition: 0.2s all ease-in-out;
        background-color: #1a1c20;
    }
    .navbar .nav{
        width: 100vw;
        height: 100vh;
        display: block;
        box-shadow: none;
    }
    .nav-link{
        width: 100%;
        display: block;
        text-align: left;
    }

    .nav{  
        padding: 30px;
    }
    .nav-dw,.sub-dw{
        position: static;
        display: block;
    }

    .dw-content,.sub-dw-content{
        margin-top: 0;
        position: static;
        display: inline-block;
        background-color: #1a1c20;
        width: 100%;
        display: none;
        transition: all 0.2s ease-in-out;
    }

    .sub-dw-content{
        margin-top:1rem;
    }

    .dw-content li a{
        margin-left: 1rem;
        color: white;
    }

    .nav-dw:hover .dw-content,.sub-dw:hover .sub-dw-content{
        display: block;
    }

    .toggle{
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 100%;
        position: fixed;
        right: 20px;
        top: 20px;
        background-color: white;
        height: 45px;
        width: 45px;
        z-index: 99999;
    }

    .toggle i{
        color: black;
        font-size: 1.45rem;
    }

}