<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Research</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/navbar.css">
    <script defer src="js/app.js"></script>
    <script defer src="js/navbar.js"></script>
    <script defer src="js/vue.js"></script>
    <script defer src="js/research.js"></script>
    <script defer src="https://kit.fontawesome.com/ffce93f859.js" crossorigin="anonymous"></script>
</head>

<body class="bg-dull">
    <button id="back-to-top" title="Go to top"><i class="fas fa-arrow-up"></i></button>
    <div class="toggle">
        <i class="fas fa-bars"></i>
    </div>
    <div class="top">
        <div class="title-bar">
            <h1>Department of Computer Technology</h1>
        </div>
        <header class="navbar" id="navbar">
            <ul class="nav">
                <li class="nav-link"><a href="index.html"><i class="fas fa-home"></i> Home</a></li>
                <li class="nav-dw">
                    <button class="dw-toggle"><i class="fas fa-graduation-cap"></i> Academics <i
                            class="fas fa-angle-down"></i></button>
                    <ul class="dw-content">
                        <li class="sub-dw">
                            <button class="sub-dw-toggle">UG <i class="fas fa-angle-right"></i></button>
                            <ul class="sub-dw-content">
                                <li><a href="#">Curriculum</a></li>
                                <li><a href="#">Syllabus</a></li>
                                <li><a href="#">Sessions</a></li>
                            </ul>
                        </li>
                        <li class="sub-dw">
                            <button class="sub-dw-toggle">PG <i class="fas fa-angle-right"></i></button>
                            <ul class="sub-dw-content">
                                <li><a href="#">Curriculum</a></li>
                                <li><a href="#">Syllabus</a></li>
                                <li><a href="#">Sessions</a></li>
                            </ul>
                        </li>
                        <li class="sub-dw">
                            <button class="sub-dw-toggle">PhD <i class="fas fa-angle-right"></i></button>
                            <ul class="sub-dw-content">
                                <li><a href="#">Curriculum</a></li>
                                <li><a href="#">Syllabus</a></li>
                                <li><a href="#">Sessions</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-dw">
                    <button class="dw-toggle"><i class="fas fa-university"></i> About Us <i
                            class="fas fa-angle-down"></i></button>
                    <ul class="dw-content">
                        <li><a href="about/anna university.html">Anna University</a></li>
                        <li><a href="about/madras institute of technology.html">MIT</a></li>
                        <li><a href="about/computer technology.html">CT Department</a></li>
                    </ul>
                </li>
                <li class="nav-dw">
                    <button class="dw-toggle"><i class="fas fa-users"></i> People <i
                            class="fas fa-angle-down"></i></button>
                    <ul class="dw-content">
                        <li><a href="./people/student.html">Student</a></li>
                        <li><a href="./people/faculty.html">Staff</a></li>
                        <li><a href="./people/faculty.html">Admin Staff</a></li>
                    </ul>
                </li>
                <li class="nav-link"><a href="placement.html"><i class="far fa-chart-bar"></i> Placement</a></li>
                <li class="nav-link"><a href="research.html"><i class="fas fa-graduation-cap"></i> Research</a></li>
                <li class="nav-link"><a href="contact.html"><i class="fas fa-phone-alt"></i> Contact</a></li>
                <li class="nav-dw">
                    <button class="dw-toggle"><i class="fas fa-sign-in-alt"></i> Login <i
                            class="fas fa-angle-down"></i></button>
                    <ul class="dw-content">
                        <li><a href="#">Student</a></li>
                        <li><a href="#">Staff</a></li>
                    </ul>
                </li>
            </ul>
        </header>
    </div>

    <div class="primary-section quick-links">
        <div>
            <a href="#ongoing-funded">Ongoing Funded Research</a>
            <span></span>
        </div>
        <div>
            <a href="#completed-funded">Completed Funded Research</a>
            <span></span>
        </div>
        <div>
            <a href="#ongoing">Ongoing Research</a>
            <span></span>
        </div>
        <div>
            <a href="#completed">Completed Research</a>
            <span></span>
        </div>
    </div>

    <div id="app">
        <h1 style="text-align: center;margin-top: 3rem;">Funded Research Projects</h1>
        <div class="search-group">
            <div class="search-box">
                <div class="search-icon">Name</i></div>
                <input type="search" placeholder="Type Funded Research Name" v-model="fundedSearchName">
            </div>
        </div>
        <div class="primary-section" id="ongoing-funded">
            <div class="section-title">
                <h1><span class="blue-line">&nbsp;</span>Ongoing</h1>
            </div>
            <div class="section-content" style="text-align: center;">
                <br>
                <div class="grid grid-4 research">
                    <div class="card bg-white" v-for="res in searchOnGoingFunded">
                        <img :src="res.img" alt="">
                        <div class="card-bottom">
                            <div>
                                <h3>{{ res.name }}</h3>
                                <h4>{{ res.fund }}</h4>
                                <p>{{ res.amt }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="primary-section" id="completed-funded">
            <div class="section-title">
                <h1><span class="blue-line">&nbsp;</span>Completed</h1>
            </div>
            <div class="section-content" style="text-align: center;">
                <br>
                <div class="grid grid-4 research">

                    <div class="card bg-white" v-for="res in searchCompletedFunded">
                        <img :src="res.img">
                        <div class="card-bottom">
                            <div>
                                <h3>{{ res.name }}</h3>
                                <h4>{{ res.fund }}</h4>
                                <p>{{ res.amt }}</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <h1 style="text-align: center;">Research Projects</h1>
        <div class="search-group">
            <div class="search-box" style="margin-right: 1rem;"> 
                <div class="search-icon">Name</i></div>
                <input type="search" placeholder="Type Research Name" v-model="nonFundedSearchName">
            </div>
            <!-- <div class="search-box" style="margin-left: 1rem;">
                <div class="search-icon">Year</i></div>
                <input type="search" placeholder="Type Research Year">
            </div> -->
        </div>
        <div class="primary-section" id="ongoing">
            <div class="section-title">
                <h1><span class="blue-line">&nbsp;</span>Ongoing</h1>
            </div>
            <div class="section-content" style="text-align: center;">
                <br>
                <div class="grid grid-4 research">
    
                    <div class="card bg-white" v-for="res in searchOnGoing">
                        <img :src="res.img" alt="">
                        <div class="card-bottom">
                            <div>
                                <h3>{{ res.name }}</h3>
                                <h4>Research Scholar Name: {{ res.scholar }}</h4>
                                <h4>Research Guide: {{ res.guide }}</h4>
                                <p>Year of commencement: {{ res.year }} </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

    <footer class="footer">
        <p id="year">Copyright &copy; Computer Technology | Designed by MIT Web Team</p>
    </footer>

</body>

</html>